// Fonts
$body-font-size: 1.6rem;
$line-height: 3.2rem;
$card-title-font-size: 2rem;
$card-body-font-size: 1.4rem;
$card-line-height: 2.4rem;
$section-title-font-size: 3.5rem;
$section-title-line-height: 5.5rem; 

// Colors
$color-white: #fff;
$color-white-2: #d0caca;
$color-green: #84D904;
$color-green-2: #65a406;
$color-grey: #404040;
$primary-black: #0D0D0D;
$secondary-black: #1C1C1C;

// Style
$box-shadow: 0 4px 10px rgba(0,0,0,.4);